The full code covered in this notebook can be found in the `project.ipynb` file.

In [ ]:
import pandas as pd

df = pd.read_csv(r'Walmart.csv')

# Standardize column names
df.columns = [c.strip().lower().replace(' ', '_') for c in df.columns]

# Remove $ and convert unit_price
df['unit_price'] = df['unit_price'].replace('[\$,]', '', regex=True).astype(float)

# Convert types
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce').astype('Int64')
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['profit_margin'] = pd.to_numeric(df['profit_margin'], errors='coerce')

# Parse date and time -> datetime (dayfirst=True)
df['date'] = pd.to_datetime(df['date'], dayfirst=True, errors='coerce')
df['datetime'] = pd.to_datetime(df['date'].dt.strftime('%Y-%m-%d') + ' ' + df['time'], errors='coerce')

# Derived columns
df['sales_amount'] = df['unit_price'] * df['quantity']
df['profit'] = df['sales_amount'] * df['profit_margin']

# Trim categorical fields
for c in ['branch','city','category','payment_method']:
    df[c] = df[c].astype(str).str.strip()

# Quick missing value summary
print(df.isnull().sum())

# Save
df.to_csv('Walmart_cleaned.csv', index=False)

Code written one by one:

```python

In [1]:
import pandas as pd
import psycopg2

In terminal write 
install kaggle 
than 
kaggle datasets download -d najir0123/walmart-10k-sales-datasets

In [2]:
df = pd.read_csv(r'Walmart.csv', encoding_errors='ignore')
df.shape

(10051, 11)

In [3]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [5]:
df.duplicated().sum()

np.int64(51)

In [6]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [9]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [10]:
df.dropna(inplace=True)

In [11]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [12]:
df.shape

(9969, 11)

In [13]:
df.dtypes
##unit price need to be chnage

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [ ]:
df['unit_price'].astype(float)

In [15]:
df['unit_price'] = df['unit_price'].replace('[\$,]', '', regex=True).astype(float)

<>:1: SyntaxWarning: "\$" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\$"? A raw string is also an option.
<>:1: SyntaxWarning: "\$" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\$"? A raw string is also an option.
C:\Users\jacks\AppData\Local\Temp\ipykernel_7120\354888051.py:1: SyntaxWarning: "\$" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\$"? A raw string is also an option.
  df['unit_price'] = df['unit_price'].replace('[\$,]', '', regex=True).astype(float)

In [16]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [17]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [18]:
df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [19]:
df['total'] = df['unit_price'] * df['quantity']
df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [ ]:
#Psql connection parameters
host = 'localhost'
port = '5432'
database = 'Walmart_db'
user = 'postgres'
password = '1234'

In [54]:
df.shape

(9969, 12)

In [20]:
from sqlalchemy import create_engine

# Create new PostgreSQL connection
engine_psql = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/walmart_sales_db")

# Test the connection
try:
    with engine_psql.connect() as conn:
        print("✓ Connection to PostgreSQL successful!")
except Exception as e:
    print(f"✗ Connection failed: {e}")

✓ Connection to PostgreSQL successful!

In [22]:
df.to_sql(name='Walmart',con=engine_psql,if_exists='replace',index=(False))

969

In [ ]:
import os
import pandas as pd

# Use the cleaned DataFrame named `df` from earlier cells
df_cleaned = df.copy()  # use a copy to avoid modifying the original `df`

# Output directory and filename (use raw string to avoid escape issues)
out_dir = r"C:\Users\jacks\OneDrive\Desktop\Data Analyst Portfolio Project\Project - Walmart"
os.makedirs(out_dir, exist_ok=True)

#Save as CSV (default)
csv_path = os.path.join(out_dir, "walmart_cleaned.csv")
df_cleaned.to_csv(csv_path, index=False, encoding="utf-8")
print("Saved CSV to:", csv_path)

In [21]:
import os
os.path.exists(r"C:\Users\jacks\OneDrive\Desktop\Data Analyst Portfolio Project\Project - Walmart\walmart_cleaned.csv")

False